
#clock{

    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(cl.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 23%;
    top: 27%;
    left: 48.85%;
    background-color: rgb(0, 0, 0);
    
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 20.5%;
    left: 48.9%;
    background-color: rgb(0, 0, 7);
}
#second{
    width: 1%;
    height: 40%;
    top: 10%;
    left: 49.25%;
    opacity: 0.8;
}